<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>BEEAGENCY</title>
</head>
<body>
    <nav>
        <div class="container1">
            <h2><a href="#">BA</a></h2> <!--CAMBIAR POR LOGO-->

            <input type="checkbox"  id="check-menu" class="check-menu">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">BeeAgency</a></li>
                <li><a href="#">Servicios ▾</a>
                    <ul class="submenu">
                        <li><a href="#">Social Media</a></li>
                        <li><a href="#">Desarrollo de Negocio</a></li>
                        <li><a href="#">Posicionamiento Web</a></li>
                    </ul>
                </li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <label for="check-menu" class="label-check">
                <img src="../assets/menu-svgrepo-com(1).svg" alt="logo rayitas menu responsivo" class="menu-responsive" width="64" height="64">
            </label>

            <div class="logo-redes">
                <a href="#"><img src="../assets/application_15072085.png" alt="logo de instagram"></a>
                <a href="#"><img src="../assets/social-media_14715327.png" alt="logo de facebook"></a>
                <a href="#"><img src="../assets/linkedin_254394.png" alt="logo de linkedin"></a>
            </div>
        </div>

        <div class="container2">
            <div class="texto">
                <h1>BEEAGENCY</h1>
                <p>EL ZUMBIDO QUE TU MARCA NECESITA.</p>  
            </div>
        </div>
    </nav>

    <main>
        <div class="container3">
            <div class="texto-agencia">
                <h2>Agencia de Marketing Digital</h2>
                <p>En Bee Agency, somos como un enjambre de abejas trabajando en perfecta armonía para ayudarte a construir un plan de negocio sólido y competitivo. Tal como las abejas polinizan flores para crear miel, nosotros utilizamos herramientas digitales para transformar la esencia de tu empresa en estrategias auténticas que destaquen en el mercado. Con constancia, colaboración y un profundo respeto por lo que te hace único, polinizamos tus ideas y cultivamos el éxito de tu negocio en el ecosistema digital. <a href="beeagency.html" class="enlace-beeagency">Saber más..</a>
                </p>
            </div>
            
           <div class="button-sobre">
                <img src="../assets/valeria-reverdo-Axli9F0n26A-unsplash.png" alt="fotografia sobre" class="sobre">
                
                <div class="container-button">
                    <button class="button">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text">Hover Me</span>
                    <div class="button__drow1"></div>
                    <div class="button__drow2"></div>
                    </button>  
                </div>
           </div>
        </div>
        
    </main>
</body>
</html>